server {
    listen 80;
    server_name {{ item }}.zeta.com;

    proxy_set_header X-Request-ID $reqid;
    proxy_set_header  Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Client-IP "";
    proxy_next_upstream error timeout http_502;

    location / {
        proxy_pass http://127.0.0.1:{{ host_port }};
    }
}

